<div class="jumbotron">
    <h1WebAPI</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Example WebAPI call</h2>
        <h4>Response is translated automatically based on browser language</h4>
        <p id="target">...</p>
        <button id="clickme">Make AJAX call</button>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
@section scripts
{
    <script>
        var uri = "api/values/1";

        $(document).ready(function () {
            $("#clickme").click(function() {
                $.getJSON(uri)
                    .done(function (data) {
                        $('#target').text(data);
                    });
            });
        });
    </script>
}
